!!! 5
html(lang="ja")
  head
    meta(content='width=640px, user-scalable=no', name='viewport')
    link(type = 'text/css', rel = 'stylesheet', href = '/css/common.css')
    link(type = 'text/css', rel = 'stylesheet', href = '/css/bootstrap.css')
    script(type = 'text/javascript', src = '/socket.io/socket.io.js')
    script(type='text/javascript', src='/js/lib/jquery-1.6.4.min.js')
    script(type = 'text/javascript', src = '/js/lib/en.js')
    script(type = 'text/javascript', src = '/js/lib/context-dial.js')
    script(type = 'text/javascript', src = '/js/controller.js')
    title context-dial demo
  body
    div(id='content')
    div(class='hidden')
      span(id='user_id')= user_id
      span(id='host')= config.host
