!!! 5
html(lang="ja")
  head
    script(type = 'text/javascript', src = '/socket.io/socket.io.js')
    script(type='text/javascript', src='/js/lib/jquery-1.6.4.min.js')
    script(type = 'text/javascript', src = '/js/lib/en.js')
    script(type = 'text/javascript', src = '/js/lib/context-dial.js')
    script(type = 'text/javascript', src = '/js/controller.js')
    title context-dial demo
  body
    div(id='content')
    span(id='user_id')= user_id
