!!! 5
html(lang="ja")
  head
    script(type = 'text/javascript', src = '/socket.io/socket.io.js')
    script(type = 'text/javascript', src = 'http://www.youtube.com/player_api')
    script(type='text/javascript', src='/js/lib/jquery-1.6.4.min.js')
    script(type = 'text/javascript', src = '/js/display.js')
    title context-dial demo
  body
    div display
    span(id='user_id')= user_id
